<header class="flex">
	<div class="flex max-width">
		<a href="/"><img src="/images/Logo.svg" id="header-logo" /></a>
		<div class="dropdown">
			<button class="dropbtn"><img src="/images/down.svg" /></button>
			<div class="dropdown-content">
				<% if(user) {%>
				<a href="/user/<%= user._id %>">Profile</a>
				<a href="/user/<%= user._id %>/cart">Cart</a>
				<a href="/logout">Logout</a>
				<%} else{ %>
				<a href="/auth/google">Login With Google</a>
				<% } %>
			</div>
		</div>
	</div>
</header>
