<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="flex justify max-width">
		<%- include('partials/header') %>
		<div class="landing-page"></div>
		<img src="/images/Buy and Sale.svg" id="landing" />
	</body>
</html>
