<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<%- include('../partials/header') %>
		<form
			method="POST"
			action="/user/<%= user._id %>/new-post"
			autocomplete="off"
			enctype="multipart/form-data"
		>
			<input type="text" name="name" required />
			<input type="number" name="price" required />
			<input type="number" name="quantity" required />
			<input type="text" name="information" required />
			<input
				type="file"
				name="image"
				multiple
				accept="image/*"
				required
			/>
			<input type="submit" value="submit" />
		</form>
	</body>
</html>
