<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="flex max-width justify">
		<%- include('../partials/header') %>
		<form
			method="POST"
			action="/user/new-user/<%= id %>?_method=PUT"
			autocomplete="off"
			class="form-info flex-col"
		>
			<h2>New Account Form</h2>
			<label for="contactNumber">Contact Number:</label>
			<input type="text" name="contactNumber" />
			<label for="address">Address:</label>
			<input type="text" name="address" />
			<label for="zipCode">Zip Code: </label>
			<input type="number" name="zipCode" />
			<input type="submit" value="Confirm" />
		</form>
	</body>
</html>
